*
    padding 0px
    margin 0px

.Height100
    height 100%

.Height97
    height 97%

.Height95_2
    height 95%

.Height95
    height 95vh

.Height91
    height 91%

.Height90
    height 89%

.Height85
    height 85%

.Height80
    height 80%

.Height80-2
    height 80vh

.Height75
    height 75%

.Height70
    height 70%

.Height65
    height 65%

.Height60
    height 60%

.Height55
    height 55%

.Height50
    height 50%

.Height45
    height 45%

.Height40
    height 40%

.Height35
    height 35%

.Height33
    height 33.3%

.Height30
    height 30%

.Height25
    height 25%

.Height20-2
    height 20vh

.Height20
    height 20%

.Height18
    height 17%

.Height17
    height 19px

.Height15
    height 15%

.Height12_5
    height 12.5%

.Height10
    height 10%

.HeightI
    height 24px

.Height8
    height 30px

.Height7
    height 16px

.Height5_2
    height 5%

.Height4
    height 4%
    height 4%

.Height5
    height 5vh

.Height3
    height 3%

.Height0
    height 0%

.row
    margin-right 0 !important
    margin-left 0 !important

@font-face
    font-family "Montserrat-Regular"
    src url("../media/Fonts/Montserrat-Regular.ttf")


@font-face
    font-family "Montserrat-Bold"
    src url("../media/Fonts/Montserrat-Bold.ttf")

body
    height 100vh
    font-family "Montserrat-Regular" !important
    position relative
    background-color #fff
.modal-backdrop
    display none
.modal-header
    height 17px
    padding 0 !important
    border-bottom 0 !important
.mt16
    margin 16px 0 0 0
#Slider-H
    height 550px
#Promotions-H
    height 410px
.box
    background-color #fff
    border 1px solid #d6d6d6
    border-radius 8px
    position absolute
    width 600px
    .btn-success
        background-color #E85722
        border 0px
        width 100%
    .form-cntrol
        &focus
        &active
            outline none
            box-shadow none
    .inside
        padding 16px
    .header
        padding 16px
        border-radius 8px 8px 8px 8px
        background-color #fff
        a
            img
                display block
                background-repeat no-repeat
                width 20%
                margin 0px auto
                background-position center
    .footer
        text-align center
        a
            display inline-block
            font-size 0.8rem
            color #151e45
            &last-child
                margin-left 24px

.box_login
    left calc(50% - 300px)
    top calc(50% - 199px)

.box_register
    left calc(50% - 300px)
    top calc(50% - 325px)

#recover
    .inside
        .input-group
            .input-group-prepend
                i
                    position absolute
                    height 36px
                    left 2px
                    padding 10px
                    width 30px

#reset
    .inside
        .input-group
            .input-group-prepend
                .input-group-text
                    width 38px
                    background-color #fff
                    i
                        position absolute
                        height 36px
                        left 2px
                        padding 10px
                        width 30px
.col-1
    padding 0
    text-align center
.col-2
    padding 0
    text-align center

.EFD_Logo
    z-index 99
    background-image url(../../media/iconos/logo.png)
    background-repeat no-repeat
    background-size 100% auto
    background-position center
    position inherit
    width 100%
    height 100%

.navbar
    padding 0 !important
    .Height30
        width 100%
    .Height50
        width 100%
        margin-bottom 5px
        a
            height 100%
            width 100%
.nav
    position fixed
    background-color #3D3C62
    top 0
    width 100%
    height 110px
    z-index 10
    padding  0 !important
    a
        color #fff
    .dropdown-menu
        a
            color red
    .clasifications-menu
        margin 0
        display inline-block
        min-width 25%
        p
            display flex
            width 100%
            height 100%
            border-radius 0 0 8px 0
            text-align center
            margin 0
            font-size .7rem
            color #fff
            justify-content center
            z-index 90
            align-items center
        .clasifications-menu-2
            width 100%
            z-index 90
            height 100%
.logo
    z-index 99
    background-image url(../../media/imagenes/logo.png)
    background-repeat no-repeat
    background-size auto 100%
    background-position center
    width 100%
    height 100%
a
    margin 0
    font-size 1rem
.card-body
    padding-top 115px
.Title_Login
    text-align center
.avatar-user
    position absolute
    width 25px
    top -4px
    height 25px
    left -7px
    border-radius 50%
    background-repeat no-repeat
    background-size 78% auto
    background-position center
    background-position-x center
    background-position-y center


#session
    &hover
        .dropdown-toggle
            .dropdown-menu
                display block !important
#Beers
    .E-t
        text-align center
        padding-top 1px !important
        padding 0
        width 155px
        border-radius 0 15px 0 0
        height 30px !important
        .year
            color #fff
            margin 0 0 0 3px
            font-size 0.8rem
            display flex
            align-items center
        span
            overflow auto
            width 28px
            height 28px
            border-radius 50px
            display flex
            border 1.5px solid #fff
    .C-c
        margin-top 10px
        padding 10px 0 0 5px
        .poste
            border-radius 15px
            height 100%
            max-width 118px
            min-width 118px
            margin-right 5px
            padding-top 8px

            img
                background-repeat no-repeat
                background-size 78% auto
                background-position center
                background-position-x center
                background-position-y center
#more-sould-modal
    .poste
        height 92% !important
        p
            white-space pre-line
            font-size calc(0.24rem + 0.4vw)
            padding 1px
            margin 0
            text-align center
            color green
            display flex
            align-items center
            justify-content center
        .Cerveza-B
            bottom -8px
            height 100%
            z-index 9
            left 40px

.modal-body
    display flex
    padding 0
    p
        margin 0
.Desc-beer
    p
        width 100%
        display flex
        align-items center
        justify-content center
        font-size 0.7rem
.dropdown-menu
    position absolute
    top 100%
    left -146px !important
    min-width 162px !important

.P-m
    p
        color black !important

.menu-drinks
    .list-drinks
        position absolute
        right calc(-38% + -34%)
        top -50px
        min-width 70%
.activado-drinks
    background-color #3d794f
.display-drinks
    display block !important
.items-drinks
    border-radius 5px 30px 5px 5px !important
    width 35% !important
    background-color #48915E
    margin-bottom 10px
    p
        margin 0
        min-height 40px
        min-width 70px
        display flex
        justify-content center
        align-items center
        color #fff
        font-size calc(0.8rem + 0.8vw)
.t-card
    font-size calc(0.8rem + 0.8vw)
    display flex
    position absolute
    border-radius 0 0 20px 20px
    background-color #3d3c62
    color #fff
    width 135px
    top -3px
    left 39px
    align-items center
    text-align center
    margin 0
    height 40px
    justify-content center
.p-drinks
    margin-bottom 10px
    background-color #e6e6e6
    p
        color #5c5d7b
        margin 0
        font-size calc(0.5rem + 0.7vw)

.card-panel
    min-height 155px
    background rgb(251 251 251)
    padding-top 65px !important
    border-radius 10px
.fondo

    z-index 99
    background-image url(../../media/imagenes/fondo.png)
    background-repeat no-repeat
    background-size 100% 100%
    background-position center
    width 100%
    height 100%

.Desc-beer
    p
        color green !important

/*Media query*/
@media (max-width 768px)
    #Slider-H
        height 380px !important
    #Promotions-H
        height 350px !important
    .modal-header
        height 27px !important

    .modal-content
            position absolute
            height 85% !important
            .modal-body
                max-height 95%
    .modal-header .close
        padding 0 !important
        margin 0 !important
    #content-body-modal
        height 98% !important
    #more-sould-modal
        .poste
            p
                font-size calc(0.5rem + 0.1vw) !important
